body {background-color: floralwhite;}

h1 {text-align: center;}

.price-box{border: 1px outset black; text-align: center; width: 50px;}

.choose-current-vehicle {
    font-weight: bold;
}

.yearly-cost-to-own {
    font-weight: bold;
}

.current-vehicle-inputs{
    display: flex;
    flex-direction: column;
}

.current-vehicle-outputs{
    display: flex;
    flex-direction: column;
}