body {background-color: floralwhite;}

h1 {text-align: center;}

.price-box{border: 1px outset black; text-align: center; width: 50px;}

.choose-current-vehicle {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choose-EV {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.yearly-cost-to-own {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-vehicle-inputs{
    display: flex;
    flex-direction: column;
}

.current-vehicle-outputs{
    display: flex;
    flex-direction: column;
}

.form-container{
    display: flex;
    flex-direction: column;
}

.main-container{
    display: flex;
    justify-content: space-evenly;
}

.desired-vehicle-inputs{
    display: flex;
    flex-direction: column;
}

.desired-vehicle-outputs{
    display: flex;
    flex-direction: column;
}

.comparison-heading{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.rough-yearly-cost{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.savings-heading{
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.savings-box{
    border: 1px outset black;
    border-width: medium;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-left: 46%;
    margin-right: 46%;
}

#gyear{
    margin-bottom: 10px;
}

#gmake{
    margin-bottom: 10px;
}

#gmodel{
    margin-bottom: 10px;
}

#gmonthlypayment{
    margin-bottom: 20px;
}

#eyear{
    margin-bottom: 10px;
}

#emake{
    margin-bottom: 10px;
}

#emodel{
    margin-bottom: 65px;
}

.rough-yearly-cost{
    margin-top: 10px;
    margin-bottom: 10px;
}

.price{
    margin-top: 10px;
}

.gyearly-cost-to-maintain{
    font-weight: bold;
    margin-top: 65px;
    margin-bottom: 30px;
}

.eyearly-cost-to-maintain{
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.government-incentives{
    margin-top: 10px;
}

.maintenance-costs{
    margin-top: 10px;
}